

<br>
<div>
  <form action="" class="cont" [formGroup]="buscarFor" (ngSubmit)="buscaId()">
    <div class="entrada">
      <label class="in" >Id</label>
      <input type="number" 
          formControlName="monto"
          id="cedula_clien" 
          name = "cedula_factu"
          class="form-control ip" 
          placeholder="Cedula" 
      />
    </div>
    <div class="bton">
      <button class="w-100 btn btn-lg btn-primary btn" 
      type="submit" >
          Buscar
      </button> 
    </div>
  </form>
  <div >
    <button  (click)="todo()">Quitar filtro</button>
  </div>
</div>
  
<div  class="info" *ngIf="show; else noshow">
  <table class="table table-striped">
    <thead class="thead">
      <tr class="enca">
        <th scope="col">userId</th>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">completed</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let list of listaEntidad" class="datos">
            <th scope="row">{{list.userId}}</th>
                <td>{{list.id}}</td>
                <td>{{list.title}}</td>
                <td>{{list.completed}}</td>
        </tr>
    </tbody>
  </table>
</div>
<ng-template #noshow>
  <table class="table table-striped">
    <thead class="thead">
      <tr class="enca">
        <th scope="col">userId</th>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">completed</th>
      </tr>
    </thead>
    <tbody>
        <tr class="datos">
            <th scope="row">{{listaEntidad.userId}}</th>
                <td>{{listaEntidad.id}}</td>
                <td>{{listaEntidad.title}}</td>
                <td>{{listaEntidad.completed}}</td>
        </tr>
    </tbody>
  </table>
</ng-template>